<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.allst.exercise.mapper.CustomersMapper">
    <select id="selectByName" resultType="com.allst.exercise.model.Customers">
        select * from customers a where a.name = #{name}
    </select>
    <select id="selectPageList" resultType="com.allst.exercise.model.Customers">
        select * from customers ${qwSql}
        <if test="pageNumber != null and pageSize != null">
            and id between (${pageNumber} - 1) * ${pageSize} + 1 and ${pageNumber} * ${pageSize}
        </if>
    </select>
    <select id="selectPageList_COUNT" resultType="long">
        select count(1) from customers ${qwSql}
    </select>
</mapper>
