<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
</head>
<body>
<div>
    <table>
        <legend>
            <strong>基本信息列表</strong>
        </legend>
        <thead>
        <tr>
            <th>ID</th>
            <th>姓名</th>
            <th>时间</th>
            <th>Salary</th>
            <th>城市</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="lagou : ${lagouList}">
            <td th:text="${lagou.id}"></td>
            <td th:text="${lagou.name}"></td>
            <td th:text="${lagou.birthday}"></td>
            <td th:text="${lagou.salary}"></td>
            <td th:text="${lagou.city}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>